<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.group.dev"
	android:versionCode="1"
	android:versionName="1.0" android:installLocation="preferExternal">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name="org.android.group.escolarmobile.app.EscolarMobile">
			<activity android:name=".subjects.Subjects" android:label="Matérias"/>
			<intent-filter>
               	<action android:name="android.intent.action.MAIN" />
               	<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name="org.android.group.escolarmobile.app.ListaTurmas"></activity>
<activity android:name="org.android.group.escolarmobile.app.TelaListaBasica"></activity>
<activity android:name="org.android.group.escolarmobile.app.CadastroTurmas"><intent-filter>
<action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
<activity android:name="org.android.group.escolarmobile.app.ListaProfessores"><intent-filter><action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
<activity android:name="org.android.group.escolarmobile.app.CadastroProfessor"/>
<activity android:name="org.android.group.escolarmobile.app.ListaMaterias"><intent-filter><action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
<activity android:name="org.android.group.escolarmobile.app.CadastroMateria"><intent-filter><action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
<activity android:name="org.android.group.escolarmobile.app.ListaAlunos"><intent-filter><action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
<activity android:name="org.android.group.escolarmobile.app.CadastroAluno"><intent-filter><action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
</application>
    <uses-sdk android:minSdkVersion="7"/>
</manifest> 